<table class="table">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Cohort</th>
  </tr>
  <% @students.each do |student|%>
  <tr>
    <th><%= link_to student.name, student %></th>
    <th><%= student.username %></th>
    <th><%= student.cohort %></th>
  </tr>
  <% end %>
</table>

<%= link_to "Add a new student", new_admin_student_path %>
